[data-fadeshow] {
  width: 100%;
  height: 100%;
}

[data-fadeshow] .fs-slides {
  height: 100%;
}

[data-fadeshow] .fs-slide-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

[data-fadeshow~='prev-next-nav'] .fs-prev-btn, [data-fadeshow~='prev-next-nav'] .fs-next-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (max-width: 500px) {
  [data-fadeshow~='prev-next-nav'] .fs-prev-btn, [data-fadeshow~='prev-next-nav'] .fs-next-btn {
    width: 50%;
  }
}

[data-fadeshow~='prev-next-nav'] .fs-prev-btn:before, [data-fadeshow~='prev-next-nav'] .fs-next-btn:before {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 50%;
  width: 30px;
}

[data-fadeshow~='prev-next-nav'] .fs-prev-btn {
  left: 0;
}

[data-fadeshow~='prev-next-nav'] .fs-prev-btn:before {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9ImktY2hldnJvbi1sZWZ0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDMyIDMyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAzMiAzMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+LnN0MHtmaWxsOm5vbmU7c3Ryb2tlOiNGRkZGRkY7c3Ryb2tlLXdpZHRoOjI7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO308L3N0eWxlPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0yMCwzMEw4LDE2TDIwLDIiLz48L3N2Zz4=");
  left: 50%;
}

@media (max-width: 500px) {
  [data-fadeshow~='prev-next-nav'] .fs-prev-btn:before {
    left: 30px;
  }
}

[data-fadeshow~='prev-next-nav'] .fs-next-btn {
  right: 0;
}

[data-fadeshow~='prev-next-nav'] .fs-next-btn:before {
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  content: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9ImktY2hldnJvbi1yaWdodCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAzMiAzMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzIgMzI7IiB4bWw6c3BhY2U9InByZXNlcnZlIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPi5zdDB7ZmlsbDpub25lO3N0cm9rZTojRkZGRkZGO3N0cm9rZS13aWR0aDoyO3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDt9PC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTIsMzBsMTItMTRMMTIsMiIvPjwvc3ZnPg==");
  right: 50%;
}

@media (max-width: 500px) {
  [data-fadeshow~='prev-next-nav'] .fs-next-btn:before {
    right: 30px;
  }
}

[data-fadeshow] {
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

[data-fadeshow] .fs-slide,
[data-fadeshow] .fs-slide-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

[data-fadeshow] .fs-slide {
  opacity: 0;
  pointer-events: none;
}

[data-fadeshow] .fs-slide:first-child {
  opacity: 1;
  pointer-events: all;
}

[data-fadeshow] input[type='radio'] {
  position: fixed;
  left: -9999px;
  opacity: 0;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(1) ~ .fs-slides .fs-slide:nth-child(1) {
  opacity: 1;
  pointer-events: all;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(1) ~ .fs-next-nav .fs-next-btn:nth-child(2) {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(2) ~ .fs-slides .fs-slide:nth-child(2) {
  opacity: 1;
  pointer-events: all;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(2) ~ .fs-prev-nav .fs-prev-btn:nth-child(1) {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(2) ~ .fs-next-nav .fs-next-btn:nth-child(3) {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(3) ~ .fs-slides .fs-slide:nth-child(3) {
  opacity: 1;
  pointer-events: all;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(3) ~ .fs-prev-nav .fs-prev-btn:nth-child(2) {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(3) ~ .fs-next-nav .fs-next-btn:nth-child(4) {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(4) ~ .fs-slides .fs-slide:nth-child(4) {
  opacity: 1;
  pointer-events: all;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(4) ~ .fs-prev-nav .fs-prev-btn:nth-child(3) {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(4) ~ .fs-next-nav .fs-next-btn:nth-child(5) {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(5) ~ .fs-slides .fs-slide:nth-child(5) {
  opacity: 1;
  pointer-events: all;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(5) ~ .fs-prev-nav .fs-prev-btn:nth-child(4) {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(5) ~ .fs-next-nav .fs-next-btn:nth-child(6) {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(6) ~ .fs-slides .fs-slide:nth-child(6) {
  opacity: 1;
  pointer-events: all;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(6) ~ .fs-prev-nav .fs-prev-btn:nth-child(5) {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(6) ~ .fs-next-nav .fs-next-btn:nth-child(7) {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(7) ~ .fs-slides .fs-slide:nth-child(7) {
  opacity: 1;
  pointer-events: all;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(7) ~ .fs-prev-nav .fs-prev-btn:nth-child(6) {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(7) ~ .fs-next-nav .fs-next-btn:nth-child(8) {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(8) ~ .fs-slides .fs-slide:nth-child(8) {
  opacity: 1;
  pointer-events: all;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(8) ~ .fs-prev-nav .fs-prev-btn:nth-child(7) {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(8) ~ .fs-next-nav .fs-next-btn:nth-child(9) {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(9) ~ .fs-slides .fs-slide:nth-child(9) {
  opacity: 1;
  pointer-events: all;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(9) ~ .fs-prev-nav .fs-prev-btn:nth-child(8) {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(9) ~ .fs-next-nav .fs-next-btn:nth-child(10) {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(10) ~ .fs-slides .fs-slide:nth-child(10) {
  opacity: 1;
  pointer-events: all;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(10) ~ .fs-prev-nav .fs-prev-btn:nth-child(9) {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(10) ~ .fs-next-nav .fs-next-btn:nth-child(11) {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(11) ~ .fs-slides .fs-slide:nth-child(11) {
  opacity: 1;
  pointer-events: all;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(11) ~ .fs-prev-nav .fs-prev-btn:nth-child(10) {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(11) ~ .fs-next-nav .fs-next-btn:nth-child(12) {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(12) ~ .fs-slides .fs-slide:nth-child(12) {
  opacity: 1;
  pointer-events: all;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(12) ~ .fs-prev-nav .fs-prev-btn:nth-child(11) {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(12) ~ .fs-next-nav .fs-next-btn:nth-child(13) {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(13) ~ .fs-slides .fs-slide:nth-child(13) {
  opacity: 1;
  pointer-events: all;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(13) ~ .fs-prev-nav .fs-prev-btn:nth-child(12) {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(13) ~ .fs-next-nav .fs-next-btn:nth-child(14) {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(14) ~ .fs-slides .fs-slide:nth-child(14) {
  opacity: 1;
  pointer-events: all;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(14) ~ .fs-prev-nav .fs-prev-btn:nth-child(13) {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(14) ~ .fs-next-nav .fs-next-btn:nth-child(15) {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(15) ~ .fs-slides .fs-slide:nth-child(15) {
  opacity: 1;
  pointer-events: all;
}

[data-fadeshow] input[type='radio']:checked:nth-of-type(15) ~ .fs-prev-nav .fs-prev-btn:nth-child(14) {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow] input[type='radio']:checked ~ .fs-slides .fs-slide {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 2s linear;
  transition: opacity 2s linear;
}

[data-fadeshow] input[type='radio']:checked:first-of-type:last-of-type ~ .fs-quick-nav {
  display: none !important;
}

[data-fadeshow] input[type='radio']:checked:first-of-type:last-of-type ~ .fs-slide-counter {
  display: none !important;
}

[data-fadeshow~='prev-next-nav'] .fs-prev-nav,
[data-fadeshow~='prev-next-nav'] .fs-next-nav {
  z-index: 1;
}

[data-fadeshow~='prev-next-nav'] .fs-prev-btn,
[data-fadeshow~='prev-next-nav'] .fs-next-btn {
  opacity: 0;
  visibility: hidden;
  z-index: 0;
}

[data-fadeshow~='prev-next-nav'] .fs-prev-btn:last-child {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow~='prev-next-nav'] .fs-next-btn:nth-child(2) {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow~='prev-next-nav'] input[type='radio']:checked ~ .fs-prev-nav .fs-prev-btn {
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  -webkit-animation: none !important;
  animation: none !important;
}

[data-fadeshow~='prev-next-nav'] input[type='radio']:checked ~ .fs-next-nav .fs-next-btn {
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  -webkit-animation: none !important;
  animation: none !important;
}

[data-fadeshow~='prev-next-nav'] input[type='radio']:checked:first-of-type ~ .fs-prev-nav .fs-prev-btn:last-child {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow~='prev-next-nav'] input[type='radio']:checked:last-of-type ~ .fs-next-nav .fs-next-btn:first-child {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

[data-fadeshow] .fs-quick-nav {
  display: none !important;
}

[data-fadeshow] .fs-slide-counter {
  display: none !important;
}
/*# sourceMappingURL=css-fadeshow.css.map */